%h2
  = @user.firstname + ' ' + @user.lastname
  %span.label.label-default
    - if @user.admin?
      Administrator
    - else
      User

%p
  E-mail:
  = @user.email
%p
  Last sign in:
  = distance_of_time_in_words(Time.now, @user.last_sign_in_at) + ' ago '
  = '(IP address: ' + @user.last_sign_in_ip + ')'
%p
  = link_to 'Edit account', edit_user_registration_path, class: "btn btn-info"

%h3 My last reviews
%ul.list-group
  - @reviews.each do |review|
    %li.list-group-item
      %p
        Product:
        = review.product.title
        |
        - review.rating.times do
          %span.glyphicon.glyphicon-star
        - (5 - review.rating).times do
          %span.glyphicon.glyphicon-star-empty
      %p
        Created at:
        = review.created_at.to_date.strftime('%d-%m-%Y')
      %p
        Content:
        = review.content
