%h2
  = product.title
  %span.label.label-default
    = product.category.name
%p
  %b Description:
  = product.description
%p
  %b Price:
  = product.price

%br

%h3 Reviews
%ul.list-group
  = render reviews

%h3 Add new review

- if user_signed_in?
  = render 'reviews/form'

%br
%br

= link_to 'Edit', edit_category_product_path(category.id, product.id), class: "btn btn-primary"
\|
= link_to 'Back', category_products_path, class: 'btn btn-primary'

%br
%br
